{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
  <h1>Contact</h1>
  <span class="subheading">How can I help you?</span>
{% endblock %}

{% block content %}
<!-- Main content -->
<div class="container">
    <!-- Contact form -->
    <form action='' method='POST'>
      {% csrf_token %}
      {% if 'ok' in request.GET %}
        <p id='msg_successful'>
          <i>It has been sent correctly, we will contact you shortly.</i>
        </p>
      {% elif 'fail' in request.GET %}
        <p id='msg_no_successful'>
          <i>The message coundn't be sent.</i>
        </p>
      {% endif %}
        <div class="form-group">
            <label>Name *</label>
            <div class="input-group">
                {{form.name}}
            </div>
            {{form.name.errors}}
        </div>
        <div class="form-group">
            <label>Email *</label>
            <div class="input-group">
              {{form.email}}
            </div>
            {{form.email.errors}}
        </div>
        <div class="form-group">
            <label>Message *</label>
            <div class="input-group">
              {{form.content}}
            </div>
            {{form.content.errors}}
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-dark btn-block py-2" value="Send">
        </div>
    </form>
    <!-- End contact form -->
    </div>
</div>
{% endblock %}